.pkn-actares-fp-grid {

  --cols: 2;
  --columnGap: 1.5rem;
  --rowGap: 2.5rem;

  @media (max-width: 980px) {
    --cols: 1;
  }

  gap: var(--rowGap) var(--columnGap);

  .pkn-actares-fp-card {
    width: calc((100% - (var(--columnGap) * (var(--cols) - 1))) / var(--cols));
    border: 0.5rem solid var(--primary-120);
    border-radius: 0.25rem;
    position: relative;
  }
}