.pkn-children-nav-outer {
    @media (max-width: 980px) {
        display: none;
    }

    .pkn-children-nav-inner {
        max-width: min(calc(90vw - 1.25rem), calc(1250px - 1.25rem));
        overflow-x: auto;

        margin-left: max(calc((100vw - 1250px) / 2), 5vw);

        .pkn-children-nav-item {
            --padding: 0.75rem;
            --border-width: 4px;
            flex-shrink: 0;

            padding-top: var(--padding);
            padding-bottom: calc(var(--padding) - var(--border-width));
            border-bottom: var(--border-width) solid white;

            .pkn-children-nav-item-inner {
                padding-left: calc(0.5 * var(--padding));
                padding-right: calc(0.5 * var(--padding));
            }

            &.pkn-children-nav-item-current {
                --border-width: 8px;
                opacity: 0.5;
            }
        }

    }
}

.pkn-children-nav-outer-mobile {
    @media (max-width: 980px) {
        &[hidden] {
            display: block;
        }

        .pkn-children-nav-mobile-content-wrapper {
            max-height: 0;
            overflow-y: hidden;
            transition: 0.3s ease-in-out max-height;
        }
    }
}