.pkn-some-icon-wrapper {
  cursor: pointer;

  &.pkn-newsletter-icon::after {
    display: flex;
    content: 'Newsletter abonnieren';
    font-size: 0.6rem;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    text-transform: uppercase;
    font-weight: 400;
  }
}

ul.pkn-main-nav {
  margin-left: 0;

  li {
    border-left: 4px solid var(--primary);
    margin: 0;
    height: 2.25rem;
    cursor: pointer;

    &.current-menu-item {
      a {
        font-weight: 900;
        color: var(--primary);
      }
    }

    a {
      font-family: "Futura-condensed";
      text-transform: uppercase;
      letter-spacing: 0.05em;
      padding: 0 !important;
      margin-left: 0.5rem;
      height: 2.5rem;
    }
  }
}
