:root {
    --primary-160: #450604;
    --primary-140: #680906;
    --primary-120: #8A0C08;
    --primary-110: #9C0E09;
    --primary: #AD0F0A;
    --primary-90: #B62723;
    --primary-80: #BD3F3B;
    --primary-70: #C65754;
    --primary-60: #CE6F6C;
    --primary-50: #D68785;
    --primary-40: #DE9F9D;
    --primary-30: #E7B7B6;
    --primary-20: #EFCFCE;
    --primary-10: #F7E7E7;
    --primary-slight: #FBF3F2;

    --secondary-160: #131A43;
    --secondary-140: #1C2864;
    --secondary-120: #263586;
    --secondary-110: #2A3C97;
    --secondary: #2F42A7;
    --secondary-90: #4455B0;
    --secondary-80: #5968B9;
    --secondary-70: #6E7BC2;
    --secondary-60: #828ECA;
    --secondary-50: #97A1D3;
    --secondary-40: #ACB3DC;
    --secondary-30: #C1C7E5;
    --secondary-20: #D5D9ED;
    --secondary-10: #EBEDF7;
    --secondary-slight: #F4F5FA;

    --accent-160: #092E18;
    --accent-140: #0D4423;
    --accent-120: #125B2F;
    --accent-110: #146735;
    --accent: #16723B;
    --accent-90: #2E814F;
    --accent-80: #458E62;
    --accent-70: #5C9D76;
    --accent-60: #73AA89;
    --accent-50: #8BB99D;
    --accent-40: #A2C7B1;
    --accent-30: #BAD5C5;
    --accent-20: #D0E3D8;
    --accent-10: #E8F1EC;
    --accent-slight: #F3F8F5;

    --grey-160: #404040;
    --grey-140: #606060;
    --grey-120: #808080;
    --grey-110: #909090;
    --grey: #A0A0A0;
    --grey-90: #AAAAAA;
    --grey-80: #B3B3B3;
    --grey-70: #BDBDBD;
    --grey-60: #C6C6C6;
    --grey-50: #D0D0D0;
    --grey-40: #D9D9D9;
    --grey-30: #E3E3E3;
    --grey-20: #ECECEC;
    --grey-10: #F6F6F6;
    --grey-slight: #FAFAFA;
}

::selection {
    color: var(--primary-120);
    background: var(--primary-50);
}

img {
    width: 100%;
}